

<md-toolbar md-scroll-shrink>
     <div class="md-toolbar-tools">Proyectos</div>
</md-toolbar>

     <md-button class="md-primary md-raised" ui-sref="CreateProyecto" ng-href="#/proyectos/create" >Crear Proyecto</md-button>
     <md-subheader class="md-no-sticky">Lista de Proyectos</md-subheader>

      <md-list-item ng-repeat="proyecto in proyectos" ng-click="" class="noright">
          <p>{{ proyecto.nombre }}</p>

           <md-button  ui-sref="detailsProyecto({id: proyecto._id})" class="md-icon-button" title="Detalles" aria-label="Ver">
            <ng-md-icon icon="list" style="fill:gray" size="26"></ng-md-icon>
           </md-button>

            <md-button  ui-sref="editProyecto({id: proyecto._id})"  class="md-icon-button" href="#" title="Editar">
             <ng-md-icon icon="mode_edit" style="fill:orange" size="26"></ng-md-icon>
            </md-button>

            <md-button ui-sref="deleteProyecto({id: proyecto._id})" class="md-icon-button" href="#" title="Borrar">
                <ng-md-icon icon="delete" style="fill:red" size="26"></ng-md-icon>
            </md-button>

          <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
