
<div  layout="column" style="height:500px;" ng-cloak=""  >
  <section layout="row" flex="">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" id="leftSideNav" md-disable-backdrop="true">
      <md-toolbar class="md-theme-indigo" layout="row">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
        <span flex></span>
        <md-button ng-click="close()">Close</md-button>
      </md-toolbar>
      <md-content layout-padding="" layout="column" layout-align="start right">
        <md-button ng-click="show('home')" class="md-primary">Show Home</md-button>
        <md-button ng-click="show('work')" class="md-primary">Show Work</md-button>
      </md-content>
    </md-sidenav>

    <md-content flex="" layout-padding="" layout="column" layout-align="top ">
      <md-button ng-click="toggleLeft()" class="md-primary">
        Toggle left
      </md-button>
      <div>
    <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">Items</div>
    </md-toolbar>
    <md-button class="md-primary md-raised" ui-sref="CreateItem" ng-href="#/items/create" >
        Crear Item
    </md-button>
    <md-subheader class="md-no-sticky">Lista de Items</md-subheader>
    <md-list-item ng-repeat="item in items" ng-click="" class="noright">
        <p>{{ item.titulo }}</p>
        <md-button ui-sref="detailsItem({id: item._id})" class="md-icon-button"  aria-label="Ver" title="Detalles">
            <ng-md-icon icon="list" style="fill:gray" size="26"></ng-md-icon>
        </md-button>

        <md-button  ui-sref="editItem({id: item._id})"  class="md-icon-button" href="#" title="Editar">
             <ng-md-icon icon="mode_edit" style="fill:orange" size="26"></ng-md-icon>
        </md-button>

         <md-button ui-sref="deleteItem({id: item._id})" class="md-icon-button" href="#" title="Borrar">
            <ng-md-icon icon="delete" style="fill:red" size="26"></ng-md-icon>
        </md-button>

    </md-list-item>




      </div>
    </md-content>
  </section>
</div>





   <div class="row">
       <div class="col-md-3" style="margin-top:50px;">
           <div class="panel-group">
              <div class="panel panel-default">
                  <div class="panel-heading">Busqueda de Items</div>
                <div class="panel-body">
                    <item-simple-search item-data="items">
                    </item-simple-search>
                </div>
              </div>
            </div>
       </div>


        <div class="col-md-8">
            <div class="header">
                <h3 class="text-muted prj-name">
                    <span class="fa fa-users fa-2x principal-title"></span>
                    Lista de Items
                </h3>
           </div>
             <div class="jumbotron list-content">
                <ul class="list-group">
                    <div class="form-group">
                        <a ui-sref="CreateItem" href="#/items/create" class="btn btn-default">Crear Nuevo Item</a>
                        <select name="actions">
                            <option value="">Seleccione...</option>
                        </select>

                    </div>


                  <li href="#" class="list-group-item title">
                    Lista de Items
                  </li>

                  <li ng-repeat="item in items" href="#" class="list-group-item text-left">
                      <input type="checkbox" model="item.isSelected">
                      <label class="name">{{ item.titulo }}</label>

                    <label class="pull-right">
                        <a ui-sref="detailsItem({id: item._id})" class="btn btn-success btn-xs glyphicon glyphicon-ok"  title="Ver"></a>
                        <a ui-sref="deleteItem({id: item._id})" class="btn btn-danger  btn-xs glyphicon glyphicon-trash" href="#" title="Borrar"></a>
                        <a  ui-sref="editItem({id: item._id})"  class="btn btn-info  btn-xs glyphicon glyphicon glyphicon-comment" href="#" title="Editar Item"></a>
                    </label>
                    <div class="break"></div>
                  </li>

                  <li href="#" class="list-group-item text-left">
                    <a class="btn btn-block btn-primary">
                        <i class="glyphicon glyphicon-refresh"></i>
                        Cargar Mas...
                    </a>
                  </li>
                </ul>
              </div>


           </div>

    </div>


<div>


</div>
