

<div layout="column" flex layout-fill ng-cloak>
   <div class="row">




      <!-- <div class="col-md-3" style="margin-top:50px;">
           <div class="panel-group">
              <div class="panel panel-default">
                  <div class="panel-heading">Busqueda de Quizes</div>
                <div class="panel-body">

                </div>
              </div>
            </div>
       </div> -->


        <div class="col-md-8">
            <md-toolbar md-scroll-shrink>
                <div class="md-toolbar-tools">Quizes</div>
              </md-toolbar>

             <md-button class="md-primary md-raised" ui-sref="CreateQuiz" ng-href="#/quizes/create" >Crear Quiz</md-button>

                <md-subheader class="md-no-sticky">Lista de Pruebas</md-subheader>
                <md-list-item ng-repeat="quiz in quizes" ng-click="" class="noright">
                    <p>{{ quiz.titulo }}</p>

                       <md-button ui-sref="detailsQuiz({id: quiz._id})" class="md-icon-button"  aria-label="Ver" title="Detalles">
                            <ng-md-icon icon="list" style="fill:gray" size="26"></ng-md-icon>
                        </md-button>

                        <md-button  ui-sref="editQuiz({id: quiz._id})"  class="md-icon-button" href="#" title="Editar">
                             <ng-md-icon icon="mode_edit" style="fill:orange" size="26"></ng-md-icon>
                        </md-button>

                         <md-button ui-sref="deleteQuiz({id: quiz._id})" class="md-icon-button" href="#" title="Borrar">
                            <ng-md-icon icon="delete" style="fill:red" size="26"></ng-md-icon>
                        </md-button>

                        <md-button  ui-sref="takeQuiz({id: quiz._id})"  class="md-icon-button" href="#" title="Tomar Quiz">
                            <ng-md-icon icon="fast_forward" style="fill:green" size="26"></ng-md-icon>
                        </md-button>
                        <md-button  ui-sref="quizesResponses({id: quiz._id})"  class="md-icon-button" href="#" title="Ver Respuestas">
                             <ng-md-icon icon="playlist_add_check" style="fill:gray" size="26"></ng-md-icon>
                        </md-button>
                    <md-divider ng-if="!$last"></md-divider>

              </md-list-item>

           </div>

    </div>





</div>
