


   <div class="row">
       <div class="col-md-3" style="margin-top:50px;">
           <div class="panel-group">
              <div class="panel panel-default">
                  <div class="panel-heading">Busqueda de Quizes</div>
                <div class="panel-body">

                </div>
              </div>
            </div>
       </div>


        <div class="col-md-8">
            <div class="header">
                <h3 class="text-muted prj-name">
                    <span class="fa fa-users fa-2x principal-title"></span>
                    Lista de Items
                </h3>
           </div>
             <div class="jumbotron list-content">
                <ul class="list-group">
                    <div class="form-group">
                        <a ui-sref="CreateQuiz" href="#/quizes/create" class="btn btn-default">Crear Nuevo Quiz</a>
                    </div>


                  <li href="#" class="list-group-item title">
                    Lista de Quizes
                  </li>

                  <li ng-repeat="quiz in quizes" href="#" class="list-group-item text-left">
                      <label class="name">{{ quiz.titulo }}</label>

                    <label class="pull-right">
                        <a ui-sref="detailsQuiz({id: quiz._id})" class="btn btn-success btn-xs glyphicon glyphicon-ok"  title="Ver"></a>
                        <a ui-sref="deleteQuiz({id: quiz._id})" class="btn btn-danger  btn-xs glyphicon glyphicon-trash" href="#" title="Borrar"></a>
                        <a  ui-sref="editQuiz({id: quiz._id})"  class="btn btn-info  btn-xs glyphicon glyphicon glyphicon-comment" href="#" title="Editar"></a>
                        <a  ui-sref="takeQuiz({id: quiz._id})"  class="btn btn-warning  btn-xs glyphicon glyphicon glyphicon-pencil" href="#" title="Tomar Quiz"></a>


                    </label>
                    <div class="break"></div>
                  </li>

                  <li href="#" class="list-group-item text-left">
                    <a class="btn btn-block btn-primary">
                        <i class="glyphicon glyphicon-refresh"></i>
                        Cargar Mas...
                    </a>
                  </li>
                </ul>
              </div>


           </div>

    </div>


<div>


</div>
