<h1>Crear Nuevo Proyecto</h1>


<div ng-controller="proyectoCreate" class="">

    <form ng-submit="create()">
        <div class="form-group">
            <label for="Codigo">Codigo:</label>
            <input type="text" name="codigo" class="form-control" id="codigo" ng-model="proyecto.codigo">
        </div>
        <div class="form-group">
            <label for="Nombre">Nombre:</label>
            <input type="text" name="nombre" class="form-control" id="nombre" ng-model="proyecto.nombre">
        </div>
        <div class="form-group">
            <label for="FechaInicio">Fecha de Inicio:</label>
            <input type="date" name="fechaInicio" class="form-control" id="fecha" ng-model="proyecto.fechaInicio">
        </div>
        <div class="form-group">
            <label for="FechaFin">Fecha de Fin:</label>
            <input type="date" name="fechaFin" class="form-control" id="nombre" ng-model="proyecto.fechaFin">
        </div>

        <button class="btn btn-success" type="submit"> Guardar</button>
    </form>

</div>
