

<div  ng-show="inProgress">
    <div ng-show="!quizOver">
	</div>
    <div ng-show="quizOver">
		<h2>Quiz is over</h2>
		<button ng-click="reset()">Play again</button>
	</div>

	<div id="score">
	</div>

    <div class="panel panel-default" ng-init="getQuiz(quizId)">
      <div class="panel-heading">
        {{quiz.titulo}}
      </div>
      <div class="panel-body">
       <quiz-items items="quiz.items" answers="answers"></quiz-items>
        <pre> Answers: {{answers | json}}</pre>

        <button class="btn btn-success" ng-click="onComplete()">Enviar Respuestas</button>
      </div>
    </div>
</div>

<div class="intro" ng-show="!inProgress">
	<h1>Bienvenido al Quiz!</h1>
     <md-button ng-click="start()"  class="md-raised md-warn md-button md-ink-ripple"  aria-label="Iniciar Quiz" title="Iniciar Quiz">  Iniciar Quiz
    </md-button>

</div>

