

<ul>
   <div ng-repeat="(i, choice) in choices track by $index" >

       <div ng-switch="item.tipo_pregunta">
            <div class="checkbox" ng-switch-when="">
                <div class="form-inline">
                    <label>
                        <input type="radio" name="answers[$index]" value="{{choice._id}}"/>
                        {{ choice.titulo }}
                    </label>
                </div>
            </div>

           <div class="checkbox" ng-switch-when="seleccion_multiple">
                <div class="form-inline">
                    <label>
                        <md-checkbox aria-label="Select All"
                         ng-model="isChecked"
                         ng-click="changeCheckboxAnswer(item, choice, isChecked, i)"
                         value="{{choice._id}}"
                        >
                    </md-checkbox>

                       <!-- <input type="checkbox" value="{{choice._id}}"
                            ng-model="isChecked"
                            ng-click="changeCheckboxAnswer(item, choice, isChecked, i)"
                        />
                        {{ choice.titulo }}-->
                    </label>
                </div>
            </div>
       </div>

    </div>
</ul>

